# Makes sleepTimer in EntityPlayer public for the no-daytime-sleeping
public net.minecraft.entity.player.EntityPlayer field_71076_b
# Make lastDamage in EntityLivingBase public for VoidRefunds
public net.minecraft.entity.EntityLivingBase field_110153_bc
